/* header.css */

/* header */
.header_wrap{
    position: fixed;
}
/* 로고 */
h1.logo{
    position: absolute; left: 30px; top: 18px;
}
h1.logo>a{
    display: block;/*없으면 이미지가 제대로 나오지않음*/
    width: 176px; height: 36px;/*이미지 사이즈를 적용하지않으면 제대로 안나옴*/
    background: url(../images/logo.png) no-repeat 0 0;/*로고 이미지 가져오기*/
    text-indent: -9999px; overflow: hidden;/*글씨 날려버리기*/
}
/* 주메뉴 */
nav.gnb>ul{
    width: 100%; text-align: center; /*부모크기를 상속, 그런데 nav에 따로 크기가없어서 그 부모인 header의 크기를 상속받음. 글씨 가운데로 모아줌*/
}
nav.gnb>ul>li{
    display: inline-block;/*플롯 레프트대신.왜? 플롯으로 할경우 윈도우의 구석탱이에있음. 그러면 또 다시 글씨를 가운데로 위치시켜야함. 귀찮으니까 이걸로 하는거임.*/
    padding: 0 45px;/*글씨 사이 크기 재고, 그 반으로 나누면 패딩 값 나옴*/
    line-height: 70px; /*header의 높이가 70px이므로 */
}
nav.gnb>ul>li>a{
    display: inline-block; /*a의 규격을 만들어주기 위해 없으면 텍스트의 영역만 잡힘.*/
    position: relative;/*after의 위치를 잡아주려고*/
    font-weight: 600; /*실무에서는 디자인 사이즈가나옴. 포폴만들때는 f12로 찍어서 확인해봐야함*/
    font-size: 18px;
    color: #000;
}
nav.gnb>ul>li>a::after{/*li밑줄, 따로 마크업이 없어서 애프터로 만들기*/
    content: "";/*가상요소 콘텐츠 비워둠*/
    position: absolute; left: 50%; bottom: -2px;  transform: translateX(-50%);/*가운데로 위치 잡아줌*/
    width: 0; height: 0; opacity: 0; /*처음엔 크기도 없고 보이지도않음.*/
    background: #043285;
    transition: width 0.4s ease-in-out 0s; /*스르르 나타나야하므로 원본에 트랜지션.*/
}
nav.gnb>ul>li:hover>a::after{
    width: 100%; height: 3px; opacity: 1;/*li 호버시에 크기 생기고 투명도 높아짐.*/
}
nav.gnb>ul>li>div{
    background: #f3f3f3;
    display: none;/*호버시에만 보여야하므로*/
    position: absolute; left: 0; width: 100%; /*기준 header 포지션으로 분리를 해줘여함*/
    line-height: 40px;/*li에 70px을 줬는데 여기서는 필요없으므로 40으로 줄여줌*/
}
nav.gnb>ul>li.on>div{
    display: block; /*li호버시에만 보이게 (자바)*/
}
nav.gnb>ul>li>div>ul{
    margin: 50px 0; /*없으면 맨위에 딱붙음*/
}
nav.gnb>ul>li>div>ul>li{
    display: inline-block; /*나란히 놓여있으므로*/
    padding: 0 40px;
    border-right: 1px solid #ddd;
    vertical-align: top; /*나란히가 위에가 나란히 맞으라고*/
    text-align: left; /*nav에 center로 되어있어서 레프트를 따로 지정해줌*/
}
nav.gnb>ul>li>div>ul>li>a{
    display: block;/*a가 인라인 요소이기때문에 이옆에 텍스트가 붙음. 그걸 방지하기위해  블락처리해줌*/
    font-weight: bold;
    font-size: 16px;
    color: #1428a0;
}
nav.gnb>ul>li>div>ul>li>ul{
    float: left; /*ul이 2개이고 그게 나란히 있어야함*/
}
nav.gnb>ul>li>div>ul>li:last-child{
    border-right: none;/*마지막 li에는 보더가 없으므로 없애버림*/
}
nav.gnb>ul>li>div>ul>li>ul:nth-of-type(2){
    margin-left: 40px; /*나란히 놓인 ul이 붙지않고 떨어져있어야함.*/
}
nav.gnb>ul>li:nth-child(1)>div>ul>li{
    height: 270px; /*보더의 길이가 li에 따라 가므로 길이가 다 다름. 그걸 맞춰주기위해 길이를 따로 지정함.가장 긴 애를 기준으로 길이를 잡아주면 됨.*/
}
nav.gnb>ul>li:nth-child(2)>div>ul>li{
    height: 200px; 
}
nav.gnb>ul>li:nth-child(3)>div>ul>li{
    height: 121px;
}
nav.gnb>ul>li:nth-child(4)>div>ul>li{
    height: 231px;
}
nav.gnb>ul>li:nth-child(5)>div>ul>li{
    height: 164px;
}
.gnb_button{
    margin-bottom: 30px; /*마진마텀영역까지 백그라운드가 나타날수있게.*/
}
.gnb_button>a{
    display: inline-block;/*a에 규격을 만들어주기위해. 없으면 패딩 등등이 안먹음.*/
    border: 1px solid #e2e2e2; /*박스 겉을 만들어주기*/
    border-radius: 5px;/*박스 약간 동그랗게*/
    padding: 10px 20px 0;/*텍스트에 패딩 넣어서 안쪽으로 넣어주기*/
    background: #fff url(../images/btn_arrow_ico_l.png) no-repeat 95% 50%;/*박스 배경색 넣어주고, 화살표 이미지 넣어주기 오른쪽으로 붙이고, 중앙에 위치*/
    text-align: left;/*글씨 왼쪽 정렬*/
    line-height: 30px;/*줄간격*/
}
.gnb_button>a>strong{/*버튼 박스에 제목*/
    font-size: 18px;
    font-weight: 600;
}
nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a{
    width: 780px; height: 70px;/*버튼 박스 첫번째(한개짜리)*/
    background-position: 97% 50%;/*화실표 이미지*/
}
nav.gnb>ul>li:nth-child(1)>div>div.gnb_button>a>strong{
    color: #1428a0; /*제목*/
}
nav.gnb>ul>li:nth-child(4)>div>div.gnb_button>a{
    width: 320px; height: 70px;/*두개짜리. 크기 정해주고 두개 사이 떨어뜨려야해서 margin-right*/
    margin-right: 15px;
}
/* 탑메뉴 */
dl.topMenu{
    position: absolute; right: 60px; top: 0;/*기준 header_inner*/
}
dl.topMenu>dd{
    float: left; /*나란히 놓여야하기때문에 플롯.*/
}
dl.topMenu>dd>a{
    position: relative; 
    display: block; /*a에 규격 만들어주기*/
    width: 60px; height: 40px; padding-top: 30px; /*가로세로 지정해주고, 패딩으로 윗간격 넓혀주기*/
    text-align: center; font-weight: 600; /*글씨 가운데 정렬, 굵기*/
}
dl.topMenu>dd>a::after{/*사이에 막대기 하나씩있음. 따로 마크업이 없기에 애프터로만들어줌.*/
    content: "";
    position: absolute; left: 0; top: 50%;
    width: 1px; height: 10px; background-color: #ddd;
}
dl.topMenu>dd:first-of-type>a{
    background: url(../images/ico_inq.png) no-repeat 50% 30px; /*백그라운드 이미지 넣어주기*/
    text-indent: -9999px; overflow: hidden;/*글씨 날리기*/
}
dl.topMenu>dd:first-of-type>a::after{
    display: none;/* 첫번째 dd의 막대기는 필요없으므로 안보아게 처리*/
}
dl.topMenu>dd>ul{
    display: none;/*처음엔 ul이 안보임.호버시에만 보임*/
    position: absolute; top: 65px;   /*앱솔로 분리, 안해주면 모양이상함.*/
    width: 60px;
    border-top: 5px solid #1428a0;
    padding-top: 10px;/*텍스트 위에서 조금 떨어뜨림*/
    background: #fff;
}
dl.topMenu>dd:hover>ul{
    display: block;
}
dl.topMenu>dd:nth-of-type(2)>ul>li>a{
    display: block; /*a에 규격을 지정하기 위해 블록.*/
    width: 30px; height: 30px; border-radius: 50%;/*동그란 정원을 만들어야하기 위해 같은값의 가로세로, 래디어스 50%*/
    margin: 0 auto 10px;/*가운데로 오기 위해 0 auto/ 아래 간격을 떨어뜨리기 위해 10px*/
    text-indent: -9999px; overflow: hidden;/*글씨 날리기*/
    background: #ddd url(../images/utill_sns_ico.png) no-repeat 0 0;/*이미지 넣어주기, 그런데 한장짜리 스프라이트 이미지이므로 기본위치지정.*/
}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(1)>a{
    background-position: -30px 0; /*스프라이트 이미지 넣기. a에 이미지를 넣었으므로 여기엔 포지션으로 위치만 조정함.*/
}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(2)>a{
    background-position: -60px 0;
}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(3)>a{
    background-position: 0px 0;
}
dl.topMenu>dd:nth-of-type(2)>ul>li:nth-child(4)>a{
    background-position: -120px 0;
}
dl.topMenu>dd:last-of-type{
    height: 130px;
}
dl.topMenu>dd:last-of-type>ul>li{
    text-align: center;
    padding: 10px 0; /*라인하이트로 해도 상관없음*/
}
/* 검색버튼 */
div.btn_srch{
    display: block;
    position: absolute; right: 0; top: 0;
}    
div.btn_srch>a{
    display: block; /*규격만들기위해 블록*/
    width: 60px; height: 70px; /*가로세로 크기 설정*/
    text-indent: -9999px; overflow: hidden;/*글씨 날리기*/
    background: #043285 url(../images/btn_srch_ico.png) no-repeat 50% 50%;/*이미지 넣고 배경색 넣기*/
}
/* 검색박스 */
div.srch_wrap{/*검색을 눌렀을때 뒤에 배경이 투명도가 낮아짐.*/
    display: none; /*평소에는 안보임. 클릭이벤트 일때만 보임*/
    position: fixed; left: 0; top: 0;/*fixed : 스크린기준.*/
    width: 100%; height: 100%; 
    background: rgba(0,0,0,0.6);
}
div.srch_wrap.on{
    display: block;
}
div.srch_inner{
    position: absolute; left: 0; top: 70px;/*검색창 파란부분 */
    width: 100%; height: 200px;/*가로는 부모 크기받음. 높이값 지정*/
    padding-top: 60px;/*없으면 텍스트가 맨위에 딱붙음*/
    background: url(../images/srch_pop_bg.jpg) no-repeat 50% 50%;
}
div.srch_inner>form{
    width: 655px; /*form의 가로값 잡기.*/
    margin: 0 auto;/*가운데 위치 시키기*/
}
div.srch_inner>form>fieldset{
    width: 100%; height: 55px; 
    background: #fff;
    margin-bottom: 20px;/*보더를떨어뜨리기위해*/
}
div.srch_inner input[type="search"]{ /*서치박스 검색어 입력 어쩌구 부분*/
    width: 600px; height: 55px;
    text-indent: 20px;
    border: none;
}
div.srch_inner button[type="button"]{
    width: 45px; height: 45px; 
    transform: translate(2px,2px);
    background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%;
    text-indent: -9999px; overflow: hidden;
}
div.srch_inner>form>ul{
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.5); 
    padding-top: 20px;/*없으면 텍스트가 딱붙어버림.*/
}
div.srch_inner>form>ul>li{
    float: left; height: 45px; /*플롯으로 나란히, 높이값주기*/
    padding: 0 28px; /*글씨 사이 간격 떨어뜨려주기*/
    margin-right: 10px;/*박스들 사이 간격 떨어뜨려주기*/
    border-radius: 5px;
    background: #eee url(../images/btn_arrow_ico_m.png) no-repeat 90% 50%; 
    font-size: 16px; line-height: 45px;
}
div.srch_inner>form>ul>li:last-child{
    float: right; margin-right: 0; /*마지막애만 플롯 라이트*/
}
a.btn_srch_close{ /*엑스 표시 만들어주기*/
    /* display: block;이 없어도 되는 이유 : 인라인요소에 플롯이나 포지션을 지정하면 규격이 생겨서 따로 블록시켜주지않아도 된다.*/
    position: absolute; right: 0; top: 0;
    width: 60px; height: 70px; 
    background: #043285 url(../images/srch_pop_close.png) no-repeat 50% 50%;
    text-indent: -9999px; overflow: hidden;
}